*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}


/* start navigation-bar */

.head{
    width: 100%;
    background-color: white;
    display: flex;
    margin-top: 15px;
    margin-bottom: 5px;
}
.hleft{
width: 50%;
display: flex;
justify-content: left;
}
.hleft p{
padding: 5px;
font-size: 18px;
}
.hright{
width: 50%;
display: flex;
justify-content: right;
}
.hright p{
    padding-right: 7px;
    padding-top: 5px;
}
.hright ul{
    display: flex;
}
.hright ul li{
list-style: none;
padding: 5px;
margin-right: 5px;
cursor: pointer;
font-size: 14px;
}
#account{
    display: flex;
}
#act{
    margin-right: 6px;
}
.hright ul li select{
border: none;
cursor: pointer;
}


/* middle navigation-bar */

.middle{
background-color: white;
display: flex;
width: 100%;
/* position: relative; */
}
.mleft{
width: 20%;
display: flex;
justify-content: left;
}
.mleft img{
width: 50%;
}
.mmiddle{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}
.mmiddle select{
    width: 20%;
    border: solid   ;
    border-width: 1px;
    border-color: #E93939;
    padding: 5px;
    /* border-radius: 5px; */
    cursor: pointer;
    border-right: none;
}
.input{
    width: 50%;
    height: 4.6vh;
    display: flex;
    flex-direction: row;
    /* border-radius: 5px; */
    border: solid;
    border-width: 1px;
    border-color: #E93939;
    border-left: none;
}
.input p{
    margin-top: 2px;
    padding: 1px;
}
.input input{
    width: 90%;
    padding: 5px;
    border: none;
}
.input i{
    margin-top: 2px;
}
#act1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* error */

/* .mmiddle select input{
    width: 30%;
    
    padding: 5px;
} */
/* #inp{
    width: 50%;
    border: solid;
    border-width: 1px;
    border-color: #E93939;
    padding: 5px;
    border-radius: 5px;
} */

.mright{
width: 30%;
display: flex;
justify-content: right;
}
.mright p{
    padding-right: 7px;
    height: 4vh;
}
.mright ul{
    display: flex;
    align-items: center;
}
.mright ul li{
    list-style: none;
padding: 5px;
margin-right: 15px;
font-size: 12px;
cursor: pointer;
}


/* last navigation-bar */



.end{
    width: 100%;
background-color: black;
display: flex;
}
.eleft{
width: 20%;
display: flex;
justify-content: left;
align-items: center;
padding: 5px;
margin-left: 10px;
background-color: #E93939;
}
.eleft select{
padding: 5px;
background-color: #E93939;
color: white;
border: none;
font-size: 18px;
cursor: pointer;
}
.emiddle{
width: 60%;
display: flex;
align-items: center;
margin-left:15px ;
}
.emiddle ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.emiddle ul li{
color: white;
list-style: none;
font-size: 16px;
padding: 5px;
cursor: pointer;
}
.emiddle ul li select{
    padding: 5px;
    background-color: black;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
.eright{
    width: 20%;
    display: flex;
    align-items: center;
}
.eright ul{
display: flex;
justify-content: right;
}
.eright ul li{
color: white;
list-style: none;
background-color: black;
    color: white;
    border: none;
    font-size: 13px;
    padding: 5px;
    margin-right:10px;
    cursor: pointer;
}

.eright ul i{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}




.container img{
    width: 100%;
}